// video {
//   position: absolute;
//   height: 400px;
//   width: 400px;
//   margin: -100px 0 0 -200px;
//   top: 50%;
//   left: 50%;
// }

.cla {
  // height: 300px;
  width: 200px;
  margin-left: 65%;
}
img {
  height: 200px;
  width: 200px;
  padding: 10px;
}
// video {
//   height: 200px;
//   width: 200px;
//   margin-left: 80%;
// }
video {
  width: 500px;
}
