// .back {
//   width: 1000px;
//   background-color: rgb(235, 193, 8);
//   border-radius: 25px;
//   margin-left: 20%;
// }
.cla {
  // height: 300px;
  width: 200px;
  margin-left: 60%;
}
img {
  width: 120px;
}
video {
  width: 600px;
  border-radius: 25px;
  margin-left: 20%;
}

.btn-primary {
  color: hsl(0deg 0% 100%);
  background-color: hsl(201deg 23% 59%);
  border-color: hsl(208deg 44% 30%);
  margin-left: 45%;
}
