.back {
  width: 1000px;
  background-color: rgb(235, 193, 8);
  border-radius: 25px;
  margin-left: 20%;
}
.cla {
  // height: 300px;
  width: 200px;
  margin-left: 60%;
}
img {
  height: 200px;
  width: 200px;
  padding: 10px;
}
video {
  width: 600px;
  border-radius: 25px;
  margin-left: 20%;
}
