<html>
  <title>ujob</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif;
    }
  </style>
  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header">
        <div class="w3-top">
          <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a
              class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
              href="javascript:void(0);"
              onclick="openNav()"
              ><i class="fa fa-bars"></i
            ></a>
            <a
              routerLink="/home-user"
              title="Home"
              class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
              ><i class="fa fa-home w3-margin-right"></i>Ujob</a
            >
            <a
              routerLink="/prof-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="My Profile"
              ><i class="fa fa-user"></i
            ></a>
            <a
              routerLink="/myprofile-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="My Resume"
              ><i class="fas fa-poll-h"></i>
            </a>

            <a
              routerLink="/edit-profile-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="Edit RESUME"
              ><i class="fas fa-user-edit"></i
            ></a>
            <a
            href="http://localhost:5000/" target="_blank"
            class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
            title="Chat"
            ><i class="far fa-comments"></i></a>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
    <!-- Header End -->
  </header>
 
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3"></div>
      </div>
      <div class="row" class="container">
        <div class="col-md-4 col-md-offset-3">
          <form action="" class="search-form">
            <div class="form-group has-feedback">
              <label for="search" class="sr-only">Search </label>

              <input
                [(ngModel)]="name"
                type="text"
                class="form-control"
                name="search"
                id="search"
                (ngModelChange)="onChange($event)"
                placeholder="search"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="w3-container w3-card w3-white w3-round w3-margin"
      *ngFor="let item of filter"
    >
      <br />

      <img
        src="assets/{{ item?.posterId?.image }}"
        alt="Avatar"
        class="w3-left w3-circle w3-margin-right"
        style="width: 60px"
      />

      <span class="w3-right w3-opacity">22 min</span>
      <h4>
        <a (click)="currentFriend(item?.posterId)" routerLink="/profile-cmp"
          ><strong>{{ item?.posterId?.username }}</strong></a
        >
      </h4>
      <br />
      <hr class="w3-clear" />
      <p>
        {{ item.message }}
      </p>
      <div class="w3-row-padding" style="margin: 0 -16px">
        <div class="w3-half">
          <img
            src="{{ item.imageURL }}"
            style="width: 50%"
            alt="Northern Lights"
            class="w3-margin-bottom"
          />
        </div>
      </div>

      <!-- <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom">
        <i class="fa fa-thumbs-up"></i>  Like
      </button> -->
      <div class="container">
        <div class="row">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heart"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
            />
          </svg>
          <p class="col">{{ numberOfLikes }}</p>

          <!-- <button class="col btn btn-success" (click)="likeButtonClick()">
            Like
          </button> -->
          <div class="container">
            <button
              type="button"
              class="w3-button w3-theme-d1 w3-margin-bottom"
              (click)="likeButtonClick()"
            >
              <i class="fa fa-thumbs-up"></i>  Like
            </button>
            <button
              type="button"
              class="w3-button w3-theme-d1 w3-margin-bottom"
              (click)="dislikeButtonClick()"
            >
              <i class="fa fa-thumbs-down"></i> Dislike
            </button>
            <button
              type="button"
              class="w3-button w3-theme-d2 w3-margin-bottom"
            >
              <i class="fa fa-comment"></i>  Comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
