<html>
  <title>ujob</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Open Sans", sans-serif;
    }
  </style>
  <header>
    <!-- Header Start -->
    <div class="header-area">
      <div class="main-header">
        <div class="w3-top">
          <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a
              class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
              href="javascript:void(0);"
              onclick="openNav()"
              ><i class="fa fa-bars"></i
            ></a>
            <a
              routerLink="/home-user"
              title="Home"
              class="w3-bar-item w3-button w3-padding-large w3-theme-d4"
              ><i class="fa fa-home w3-margin-right"></i>Ujob</a
            >
            <a
              routerLink="/prof-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="My Profile"
              ><i class="fa fa-user"></i
            ></a>
            <a
              routerLink="/myprofile-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="My Resume"
              ><i class="fas fa-poll-h"></i>
            </a>

            <a
              routerLink="/edit-profile-user"
              class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
              title="Edit RESUME"
              ><i class="fas fa-user-edit"></i
            ></a>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
    <!-- Header End -->
  </header>
  <br />
  <br />
  <br />

  <div class="col-xl-2 col-lg-2">
    <div class="logo">
      <a routerLink=""
        ><img src="../../assets/assets/img/logo/logo222.png" alt=""
      /></a>
    </div>
  </div>
  <body>
    <div class="container">
      <h1>Your country: Tunisia</h1>
      <h2>Your city is: Ariana, with calling : RBK</h2>
      <p>Your coordinates are: latitude: {{ lat }}, longitude: {{ lng }}</p>

      <div class="pinboard">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
    </div>
  </body>
</html>
