body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
  background-color: #e6e6e6;
  color: #444;
}

.fa {
  color: #fff;
}

#userList {
  display: none;
}

#loader {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  top: 40%;
}

.body{
  background-color: #e6e6e6
}